.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image {
    width: 70%;
    margin: 0 auto;
}

.title, .description {
    font-size: 1.5rem;
    text-align: center;

    width: 80%;
    margin: 1rem auto;

    font-weight: var(--font-semibold);
}

.description {
    font-size: 1.1rem;
}

.buttonCart {
    background-color: var(--secundary-color);
    border-radius: 12px;
    
    padding: 0.7rem 0.5rem;

    margin: 1rem 0rem;
}