.navbar {
    display: flex;

    align-items: center;

    position: sticky;
    top: 0;

    padding: 0 0.75rem;

    background-color: var(--secundary-color);

    height: 40px;

    z-index: 10;
}

.title {
    font-size: 1.1rem;
    font-weight: var(--font-semibold);

    margin-left: 0.25rem;

    white-space: nowrap;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;

    margin-left: auto;
    margin-right: 0.25rem;

    font-size: 1.5rem;

    flex-shrink: 0;

    transition: transform 0.2s ease;
}

.menu:hover {
    transform: scale(1.1);
}

.dropdown {
    position: absolute;

    top: 40px;
    left: 0;

    width: 100%;

    display: flex;
    flex-direction: column;

    background-color: var(--secundary-color);

    overflow: hidden;

    max-height: 0;

    transition: max-height 0.3s ease;
}

.dropdownOpen {
    max-height: 200px;
}

.link {
    padding: 1rem;

    margin-left: 1.5rem;

    font-size: 1rem;
    font-weight: var(--font-medium);
}